/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");

/* Global styles */
body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #000;
}
body {
  background-color: #0a0a0a;
  /* background-image: url("../Inexia/images/2021-11-14+23_19_12++0000.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #cc00ff;
}

ul {
  list-style: none;
  text-align: center;
  
}
h2{
  color: #ff00cc;
  /* margin-left: 2%; */
}

/* .back_vdo{
  background: url("../Inexia/images/backvdo.mp4");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto auto;
} */
/* @media (max-width: 750px) { */
  /* #background-video { display: none; }
  body {
    background: url("../Inexia/images/backvdo.mp4") no-repeat;
    background-size: cover;
  } */
  .back_vdo{
    /* background-image: url("../Inexia/images/backvdo_AdobeExpress.gif"); */
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto auto;
    padding-top: -20px;
  }
/* } */

/* ------------------------------------cointaner---------------------------------- */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: -10px 20px;
  /* padding: 16px; */
  color: #aa15cf;
  display:flex ;
  justify-content: space-between;
}


/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 9999;
  /* margin: auto; */
  margin-bottom: -600px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  /* background-color: rgba(0, 0, 0, 0.636); */
  backdrop-filter: blur(80px);
}

nav ul li a {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}

nav ul {
  display: flex;
}

nav li + li {
  margin-left: 20px;
}

nav a {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

/* Hero section */
.canvas-container{
  margin-top: -150px;
}

#hero {
  position: relative;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: -150px;
}

#hero-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin-top: -50px;
}

.hero-content {
  text-align: center;
  /* margin-left: -100%; */
  margin-top:-550px;
}

.hero-content h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
}

.hero-content p {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 50px;
  text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
}

.btn {
  margin-top: 650px;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #aa15cf;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.hero-content .btn:hover {
  color: #d01a9a;
  box-shadow: inset 15px 0 0 0 #ffffff;
}
video{
  pointer-events: none;
}

/* .btn:hover {
  background-color: #cc00ff;
} */

/* Features section */
.features-section {
  padding: 100px 0;
  background-color: #000;
}

.features-section h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
}

.features-section p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
  color: #fff;
}

.features-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.features-section .feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 350px;
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(204, 0, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.features-section .feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(204, 0, 255, 0.5);
}

.features-section .feature-card img {
  width: 150px;
  margin-bottom: 20px;
}

.features-section .feature-card h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
  color: #fff;
}

.features-section .feature-card p {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

.community-section {
  background-color: #1e1e1e;
  padding: 100px 0;
}

.community-section h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
  color: #ee89d8;
}

.community-section p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
  color: #fff;
}

.technology-section {
  background-color: #222222;
  padding: 100px 0;
}

.technology-section h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
  color: #ee89d8;
}

.technology-section p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
  color: #fff;
}

.signup-section {
  background-color: #333333;
  padding: 100px 0;
}

.signup-section h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
  color: #ee89d8;
}

.signup-section p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 0 0 10px rgba(204, 0, 255, 0.8);
  color: #fff;
}

.signup-btn {
  /* display: inline-block; */
  background-color: #ff00cc;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 40px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(204, 0, 255, 0.8);
  transition: all 0.3s ease-in-out;
  margin-left: 45%;
}

.signup-btn:hover {
  background-color: #fff;
  color: #ff00cc;
  box-shadow: 0 0 20px rgba(204, 0, 255, 0.8);
}

/* Footer */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}

footer p {
  margin: 0;
}

/* Media Queries */

@media (max-width: 768px) {
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header nav li {
    margin: 10px 0;
  }

  .hero-content {
    text-align: center;
  }

  .hero-content h1 {
    font-size: 4rem;
  }

  .hero-content p {
    font-size: 2rem;
  }

  .signup-section h2 {
    font-size: 2.5rem;
  }

  .signup-section p {
    font-size: 1.2rem;
  }

  .signup-btn {
    font-size: 1.2rem;
    padding: 12px 32px;
    
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 1.5rem;
  }

  .features-section p,
  .community-section p,
  .technology-section p,
  .signup-section p {
    font-size: 1.2rem;
  }

  .signup-section h2 {
    font-size: 2rem;
  }

  .signup-btn {
    font-size: 1rem;
    padding: 12px 24px;
    background-color: #cc00ff;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    /* margin: 100px; */
    
  }

  .signup-btn:hover {
    background-color: #fff;
    color: #cc00ff;
    box-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
  }
}

/* ----------logo---------- */
#logo_img{
  width: 60px;
  height: 60px;
}

