/* General styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #000000;
    /* display: flex; */
    /* margin: 1%; */
}
h1{
    border: 2px solid #434040;
    color: rgb(139, 32, 149);
}
h2{
    margin: 2%;
}
h3{
    padding-left: 1%;
}
p{
    padding-left: 3%;
    /* display: block; */
}
a {
  color: #ffffff;
  text-decoration: none;
  /* border: 2px solid green; */
    padding: 2px;
    margin: 22px;
    
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

/* ----------------------------------Header------------------------------------------------- */


/* Header */
.hedr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* nav {
    background-color: rgba(0, 0, 0, 0.636);
    backdrop-filter: blur(100px);
  } */
  
  nav ul li a {
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  nav ul li a:hover {
    transform: scale(1.05);
    background-color: rgba(177, 172, 172, 0.293);
  }
  
  nav ul {
    display: flex;
  }
  
  nav li + li {
    margin-left: 20px;
  }
  
  nav a {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
  }

ul{
    list-style: none;
    backdrop-filter: blur(0px);
    
}

.nav-links li {

    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
}


.nav-links li:hover {
    transform: scale(1.05);
    background-color: rgba(42, 40, 40, 0.623);
  }

.hero-section{
    margin-top: 50px;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    
}
.cta-btn{
    border: 2px solid rgb(153, 33, 129);
    background-color: #aaa9aa;
}


 /*-----------------------  IndexHeader  -----------------------*/
  
 .indexHeader {
    color: #ff8c00;
    height: 800px;
    padding: 1px;
    margin-top: 69px;
    background-image: url(../images/image8.png);
    background-position: 50% 85%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  .indexHeader p {
    font-weight: bold;
  }
  
  .indexHeader h1 {
    font-size: 800%;
    margin: 0 0 30px 0;
  }
  
  .indexHeader a {
    text-decoration: none;
    font-weight: bold;
    font-size: 95%;
    text-transform: uppercase;
    color: #000000;
    background-color: #c131ab;
    padding: 15px 60px;
    border-radius: 5px;
  }
  
  .indexHeader a:hover {
    background-color: #fffefe;
    transition: 0.5s;
  }
  

/* -----------------------------------What's included---------------------------------------- */

.container{
    border: 2px solid rgb(105, 103, 105);
    background-color: #000000;
    padding: 10px;
    margin-left: 10%;
    box-shadow: -10px -10px 15px rgb(112, 14, 125), 10px 10px 15px rgb(133, 0, 133), inset -10px -10px 15px rgba(142, 12, 193, 0.689), inset 10px 10px 15px rgba(129, 5, 231, 0.15);
    color: rgba(194, 181, 196, 0.81);
    margin-bottom: 30px;
}
.features-item{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border: 2px solid rgb(54, 51, 54);
    padding: 10px;
    margin: 20px;
}
.features-section{
    display: flex;
}




/* --------------------------------How to Play Section--------------------------------------- */

.how-to-play-steps{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border: 2px solid rgb(128, 0, 128);
    padding: 10px;
    margin: 20px;
}

.how-to-play {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.how-to-play-item {
  width: calc(33.33% - 20px);
  margin-bottom: 50px;
}

.how-to-play-item img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.how-to-play-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.how-to-play-item p {
  text-align: center;
} */



/* -------------------------------about------------------------------------------- */

.about{
    background-color: #000000;
    color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
    border: 2px solid rgb(120, 121, 120);
    padding: 20px;
    /* margin-top: 50px; */
    margin: 20px;
}
.cta-section{
    color: #fdfdfd;
}

/* ------------------------------Footer-------------------------------------------- */

footer {
  background-color: #1b1b1b;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

/* .footer p {
  margin-bottom: 20px;
}

.footer a {
  color: #fff;
  font-weight: bold;
} */
  