/* General styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #000;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header */
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links li {
    list-style: none;
    margin-left: 20px;
  }
  
  /* Banner */
  
  .banner {
    height: 500px;
    background-image: url('../img/experience-banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner h1 {
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  /* How to Play Section */
  
  .how-to-play {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .how-to-play-item {
    width: calc(33.33% - 20px);
    margin-bottom: 50px;
  }
  
  .how-to-play-item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .how-to-play-item h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .how-to-play-item p {
    text-align: center;
  }
  
  /* Download Section */
  
  .download {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .download-item {
    width: calc(50% - 20px);
    margin-bottom: 50px;
  }
  
  .download-item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .download-item h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .download-item p {
    text-align: center;
  }
  
  /* Footer */
  
  footer {
    background-color: #1b1b1b;
    color: #fff;
    padding: 50px 0;
    text-align: center;
  }
  
  .footer p {
    margin-bottom: 20px;
  }
  
  .footer a {
    color: #fff;
    font-weight: bold;
  }
  